{% extends 'includes/student_base.html' %} {% load static %} {% block head %}
<meta name="description" content="Learning Management System">
<title>{{ school_name }} | Student :: Exams </title>
{% endblock %} {% block content %}
<!-- Main Content -->
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Exams</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> {{school_name}}</a></li>

                        <li class="breadcrumb-item active">Examinations</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Examinations</strong></h2>

                    </div>
                    <div class="body">
                        <br>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>SUBJECT CODE</th>
                                        <th>SUBJECT TESTED</th>
                                        <th>EXAM DURATION(hrs)</th>
                                        <th>EXAM DATE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for exam in exams %}
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>{{ exam.subject.code }}</td>
                                        <td> <a href="{% url 'student_exam_detail' exam.id %}">{{ exam.subject}}</a> </td>
                                        <td>{{ exam.duration }}</td>
                                        <td>{{ exam.exam_date }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}