{% extends 'includes/student_base.html' %} {% block head %}
<meta name="description" content="Learning Management System">
<title>{{ school_name }} | Student :: Home</title>
{% endblock %} {% block content %}
<!-- Main Content -->

<section class="content">
    <div class="">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>{{ school_name }} Student Dashboard</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> {{ school_name }} </a></li>
                        <li class="breadcrumb-item active">{{ student.name }}</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-8 col-sm-12">
                   
                    <div class="card">
                        <div class="header">
                            <h2><strong>Message</strong> of the Day</h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover c_table theme-color">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <td>Notice</td>
                                            <td>Release Date</td>
                                            <th>Status</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr>
                                            <td>1</td>
                                            <td><strong><a href="#">Here is todays message.</a></strong></td>
                                            <td>17th July, 2022</td>
                                            <td>Active</td>
                                            
                                           
                                        </tr>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Registered</strong>Subjects</h2>
                        </div>
                        <div class="body">
                            <div class="list-group">
                                {% for subject in student.subject.all %}
                                <a href="javascript:void(0);" class="list-group-item">{{ subject.name }}</a>
                                
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-12 ">
                    <div class="card px-1 h-100">
                        <div class="card-header">
                            <h6><strong>Problem</strong> with Content?</h6>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li class="">Site unavailable or permission denied?</li>
                                <li class="">Missing file, broken link, or blank page?</li>
                                <li class="">Problem with dates in calendar?</li>
                                <li class="">Erroneous or misleading information?</li>
                                <li class="">General query about the site?</li>                                
                            </ul> 
                                          
                            
                        </div>
                        <div class="card-footer">
                            <a href="javascript">Report Problem to the site ownner?</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 ">
                    <div class="card px-1 h-100">
                        <div class="card-header">
                            <h6><strong>Ask for help?</strong></h6>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li class="">Cannot log in?</li>
                                <li class="">How can I do this?</li>
                                <li class="">Cannot find the answer in the Help pages?</li>
                                                               
                            </ul> 
                                          
                            
                        </div>
                        <div class="card-footer">
                            <a href="javascript" class="disabled">'Help Address' is not set. Check the appropriate property.</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 ">
                    <div class="card px-1 h-100">
                        <div class="card-header">
                            <h6><strong>Report a technical problem?</strong></h6>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li class="">Something has gone wrong?</li>
                                <li class="">Tool not working as it should?</li>
                                <li class="">Problem with the system?</li>
                                                               
                            </ul> 
                                          
                            
                        </div>
                        <div class="card-footer">
                            <a href="javascript" class="disabled">'Help Address' is not set. Check the appropriate property.</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="card px-1 h-100">
                        <div class="card-header">
                            <h6><strong>Suggest improvement?</strong></h6>
                        </div>
                        <div class="card-body">
                            <ul>
                                <li class="">Voice a request for an improvement to one of the tools</li>
                                <li class="">Tool not working as it should?</li>
                                <li class="">Suggest a brand new feature that would be useful to other users</li>
                                                               
                            </ul> 
                                          
                            
                        </div>
                        <div class="card-footer">
                            <a href="javascript" class="disabled">'Help Address' is not set. Check the appropriate property.</a>
                        </div>
                    </div>
                </div>
                
    
               
            </div>

        </div>
    </div>
</section>
{% endblock %}