{% extends 'includes/student_base.html' %} {% block head %}
<meta name="description" content="Learning Management System">
<title>{{ school_name }} | Student :: Home</title>
{% endblock %} {% block content %}
<!-- Main Content -->

<section class="content">
    <div class="">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>{{ school_name }} Student Dashboard</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> {{ school_name }} </a></li>
                        <li class="breadcrumb-item active">{{ student.name }}</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Message</strong> of the Day</h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover c_table theme-color">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <td>Notice</td>
                                            <td>Release Date</td>
                                            <th>Status</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>1</td>
                                            <td><strong><a href="#">Here is todays message.</a></strong></td>
                                            <td>17th July, 2022</td>
                                            <td>Active</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Registered</strong> Subjects</h2>
                        </div>
                        <div class="body">
                            <div class="list-group">
                                {% for subject in student.subject.all %}
                                <a href="javascript:void(0);" class="list-group-item">{{ subject.name }}</a> {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
{% endblock %}