{% extends 'includes/student_base.html' %} {% load static %} {% block content %}
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Subject Registration</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'student_dashboard' %}"><i class="zmdi zmdi-home"></i> {{school_name}}</a></li>

                        <li class="breadcrumb-item active">Subject Registration</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <!-- Example Tab -->
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Available </strong> Education Curriculums</h2>

                        </div>
                        <div class="body">
                            <p>You can register subjects based on a curriculum or the subjects you need.</p>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs p-0 mb-3 nav-tabs-success">
                                {% for curriculum in curriculums %}
                                <li class="nav-item"><a class="nav-link {% if forloop.counter %}active{% endif %}" data-toggle="tab" href="#tab_{{forloop.counter}}">{{curriculum.name}} CURRICULUM</a></li>
                                {% endfor %}
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                {% for curriculum in curriculums %}
                                <div class="tab-pane {% if forloop.counter is forloop.counter %}active{% endif %}" id="tab_{{forloop.counter}}">

                                    <b><strong>{{curriculum.name}}</strong> Curriculum</b>
                                    <p>{{ curriculum.description }}</p>
                                    <br>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="card">
                                            <div class="header">
                                                <h2><strong>SUBJECTS TAUGHT</strong> HERE</h2>
                                            </div>
                                            <div class="body">
                                                <br>
                                                <div class="panel-group full-body" id="accordion_13" role="tablist" aria-multiselectable="true">
                                                    {% for class in classes %}
                                                    <div class="panel l-amber">
                                                        <div class="panel-heading" role="tab" id="{{ class.id }}">
                                                            <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_13" href="#{{ class.id }}" aria-expanded="false" aria-controls="collapseTwo_13"> Class {{ class.name }} </a>                                                                </h4>
                                                        </div>
                                                        <div id="{{ class.id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="{{ class.id }}">
                                                            <div class="panel-body">
                                                                <div class="col-12">
                                                                    <div class="card">

                                                                        <div class="body">
                                                                            <div class="table-responsive">
                                                                                <table class="table m-b-0">
                                                                                    <thead class="thead-dark">
                                                                                        <tr>
                                                                                            <th scope="col">#</th>
                                                                                            <th scope="col">Subject</th>
                                                                                            <th scope="col">Select</th>

                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <th scope="row">1</th>
                                                                                            <td>English</td>
                                                                                            <td><input type="checkbox" name="" id=""></td>

                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th scope="row">2</th>
                                                                                            <td>Kiswahili</td>
                                                                                            <td><input type="checkbox" name="" id=""></td>

                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th scope="row">3</th>
                                                                                            <td>Mathematics</td>
                                                                                            <td><input type="checkbox" name="" id=""></td>

                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th scope="row">4</th>
                                                                                            <td>Science</td>
                                                                                            <td><input type="checkbox" name="" id=""></td>

                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th scope="row">5</th>
                                                                                            <td>Subject six</td>
                                                                                            <td><input type="checkbox" name="" id=""></td>

                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th scope="row">5</th>
                                                                                            <td>Subject seven</td>
                                                                                            <td><input type="checkbox" name="" id=""></td>

                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th scope="row">6</th>
                                                                                            <td>Subject eight</td>
                                                                                            <td><input type="checkbox" name="" id=""></td>

                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}