{% extends 'includes/student_base.html' %} {% load static %} {% block content %}

<!-- Main Content -->
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Announcements</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> {{ school_name }}</a></li>
                        <li class="breadcrumb-item active">Announcements</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2><strong>Latest</strong> Announcements</h2>

                    </div>
                    <div class="body">
                        <br>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>ANNOUNCEMENT</th>
                                        <th>TARGET GROUP</th>
                                        <th>DATE POSTED</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td><p class="waves-effect"data-toggle="modal" data-target="#announcementModal">Holiday next week</p></td>
                                        <td>Student</td>
                                        <td>04/02/2022</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td> <a href="#">Holiday next week</a> </td>
                                        <td>Student</td>
                                        <td>04/02/2022</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td> <a href="#">Holiday next week</a> </td>
                                        <td>Student</td>
                                        <td>04/02/2022</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td> <a href="#">Holiday next week</a> </td>
                                        <td>Student</td>
                                        <td>04/02/2022</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td> <a href="#">Holiday next week</a> </td>
                                        <td>Student</td>
                                        <td>04/02/2022</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="announcementModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">Modal title</h4>
            </div>
            <div class="modal-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut. Ut accumsan
                vitae eros sit amet tristique. Nullam scelerisque nunc enim, non dignissim nibh faucibus ullamcorper.
                Fusce pulvinar libero vel ligula iaculis ullamcorper. Integer dapibus, mi ac tempor varius, purus
                nibh mattis erat, vitae porta nunc nisi non tellus. Vivamus mollis ante non massa egestas fringilla.
                Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc. </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-round waves-effect">SAVE CHANGES</button>
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}