{% extends 'includes/student_base.html' %} {% block sidebar %} {% endblock %} {% block content %}
<!-- Main Content -->

<section class="content">
    <div class="">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>{{ school_name }} Student Dashboard</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> {{ school_name }} </a></li>
                        <li class="breadcrumb-item active">{{ student.name }}</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card widget_2 big_icon email">
                        <div class="body">
                            <h6>Emails</h6>
                            <h2>20 <small class="info">of 100</small></h2>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card widget_2 big_icon storage">
                        <div class="body">
                            <h6 style="z-index: 100 !important; position:relative;"> Assignments</h6>
                            <h2>12 <small class="info">of 100</small></h2>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card widget_2 big_icon documents">
                        <div class="body">
                            <h6>Fees</h6>
                            <h2>39 <small class="info">of 100</small></h2>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card widget_2 big_icon domains">
                        <div class="body">
                            <h6 style="z-index: 100 !important; position:relative;">Announcements</h6>
                            <h2>8 <small class="info">of 10</small></h2>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}