.nav-item .class-select:hover {
    background-color: #ee2558 !important;
    border-radius: 25px;
    border: 1px solid #ee2558 !important;
    color: white !important;
}

.ck-editor__editable_inline {
    min-height: 300px !important;
}