{% load static %} {% load active_link_tags %}
<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"> {% block head %} {% endblock %}

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Favicon-->
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/plugins/charts-c3/plugin.css' %}" />

    <link rel="stylesheet" href="{% static 'assets/plugins/morrisjs/morris.min.css' %}" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
     <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

     <!-- Jquery Core Js -->
    <script src="{% static 'assets/bundles/libscripts.bundle.js' %}"></script>
</head>


<body class="theme-blush">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="{% static 'assets/images/loader.svg' %}" width="48" height="48" alt="Aero"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Main Search -->
    <div id="search">
        <button id="close" type="button" class="close btn btn-primary btn-icon btn-icon-mini btn-round">x</button>
        <form>
            <input type="search" value="" placeholder="Search..." />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <!-- Right Icon menu Sidebar -->
    <div class="navbar-right">
        <ul class="navbar-nav">
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" title="App" data-toggle="dropdown" role="button"><i class="zmdi zmdi-apps"></i></a>
                <ul class="dropdown-menu slideUp2">
                    <li class="header">App Shortcuts</li>
                    <li class="body">
                        <ul class="menu app_sortcut list-unstyled">
                            <li>
                                <a href="{% url 'student_assignments' %}">
                                    <div class="icon-circle mb-2 bg-blue"><i class="zmdi zmdi-file"></i></div>
                                    <p class="mb-0">Assignments</p>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'student_resources' %}">
                                    <div class="icon-circle mb-2 bg-amber"><i class="zmdi zmdi-folder"></i></div>
                                    <p class="mb-0">Resources</p>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'student_fees' %}">
                                    <div class="icon-circle mb-2 bg-green"><i class="zmdi zmdi-balance"></i></div>
                                    <p class="mb-0">Fees</p>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'student_results' %}">
                                    <div class="icon-circle mb-2 bg-purple"><i class="zmdi zmdi-menu"></i></div>
                                    <p class="mb-0">Results</p>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'student_announcements' %}">
                                    <div class="icon-circle mb-2 bg-purple"><i class="zmdi zmdi-notifications"></i></div>
                                    <p class="mb-0">Notifications</p>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'student_timetable' %}">
                                    <div class="icon-circle mb-2 bg-purple"><i class="zmdi zmdi-apps"></i></div>
                                    <p class="mb-0">Timetable</p>
                                </a>
                            </li>
                           
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" title="Notifications" data-toggle="dropdown" role="button"><i class="zmdi zmdi-notifications"></i>
                <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
            </a>
                <ul class="dropdown-menu slideUp2">
                    <li class="header">Notifications</li>
                    <li class="body">
                        <ul class="menu list-unstyled">
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="icon-circle bg-blue"><i class="zmdi zmdi-account"></i></div>
                                    <div class="menu-info">
                                        <h4>8 New Members joined</h4>
                                        <p><i class="zmdi zmdi-time"></i> 14 mins ago </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="icon-circle bg-amber"><i class="zmdi zmdi-shopping-cart"></i></div>
                                    <div class="menu-info">
                                        <h4>4 Sales made</h4>
                                        <p><i class="zmdi zmdi-time"></i> 22 mins ago </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="icon-circle bg-red"><i class="zmdi zmdi-delete"></i></div>
                                    <div class="menu-info">
                                        <h4><b>Nancy Doe</b> Deleted account</h4>
                                        <p><i class="zmdi zmdi-time"></i> 3 hours ago </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="icon-circle bg-green"><i class="zmdi zmdi-edit"></i></div>
                                    <div class="menu-info">
                                        <h4><b>Nancy</b> Changed name</h4>
                                        <p><i class="zmdi zmdi-time"></i> 2 hours ago </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="icon-circle bg-grey"><i class="zmdi zmdi-comment-text"></i></div>
                                    <div class="menu-info">
                                        <h4><b>John</b> Commented your post</h4>
                                        <p><i class="zmdi zmdi-time"></i> 4 hours ago </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="icon-circle bg-purple"><i class="zmdi zmdi-refresh"></i></div>
                                    <div class="menu-info">
                                        <h4><b>John</b> Updated status</h4>
                                        <p><i class="zmdi zmdi-time"></i> 3 hours ago </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="icon-circle bg-light-blue"><i class="zmdi zmdi-settings"></i></div>
                                    <div class="menu-info">
                                        <h4>Settings Updated</h4>
                                        <p><i class="zmdi zmdi-time"></i> Yesterday </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer"> <a href="javascript:void(0);">View All Notifications</a> </li>
                </ul>
            </li>
           
            <li><a href="javascript:void(0);" class="js-right-sidebar" title="Setting"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
            <li><a href="sign-in.html" class="mega-menu" title="Sign Out"><i class="zmdi zmdi-power"></i></a></li>
        </ul>
    </div>

    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <div class="navbar-brand">
            <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
            <a href="index.html"><img src="{% static 'assets/images/logo.svg' %}" width="25" alt="Aero"><span class="m-l-10">{{ school_name }}</span></a>
        </div>
        <div class="menu">
            <ul class="list">
                <li>
                    <div class="user-info">
                        <a class="image" href="profile.html"><img src="{{ student.profile.url }}" alt="User"></a>
                        <div class="detail">
                            <h4>{{ user.first_name }} {{ user.last_name }} </h4>
                            <small>Student</small>
                        </div>
                    </div>
                </li>
                <li class="{% active_link 'student_dashboard' 'active open' strict=True %}">
                    <a href="{% url 'student_dashboard' %}"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a>
                </li>

                <li class="{% active_link 'student_profile' 'active open' strict=True %}">
                    <a href="{% url 'student_profile' %}"><i class="zmdi zmdi-account"></i><span>  Profile</span></a>
                </li>

                 <li class="{% active_link 'student_fees' 'active open' strict=True %}">
                    <a href="{% url 'student_fees' %}"><i class="zmdi zmdi-balance"></i><span>Fees</span></a>
                </li>

                <li class="{% active_link 'room || history || chat_index' 'active open' %}">
                    <a href="{% url 'room' 1 %}"><i class="zmdi zmdi-comments"></i><span>Chat Room</span></a>
                </li>

                {% comment %} <li class="{% active_link 'student_calendar' 'active open' strict=True %}">
                    <a href="{% url 'student_calendar' %}"><i class="zmdi zmdi-calendar"></i><span>Calendar</span></a>
                </li> {% endcomment %}

                <li class="{% active_link 'student_resources' 'active open' strict=True %}">
                    <a href="{% url 'student_resources' %}"><i class="zmdi zmdi-folder"></i><span>Resources</span></a>
                </li>

                <li class="{% active_link 'student_subject_registration' 'active open' strict=True %}">
                    <a href="{% url 'student_subject_registration' %}"><i class="zmdi zmdi-file"></i><span>Subject Registration</span></a>
                </li>

                <li class="{% active_link 'student_subjects_enrolled' 'active open' strict=True %}">
                    <a href="{% url 'student_subjects_enrolled' %}"><i class="zmdi zmdi-folder-star"></i><span>Subjects Enrolled</span></a>
                </li>

                <li class="{% active_link 'student_timetable' 'active open' strict=True %}">
                    <a href="{% url 'student_timetable' %}"><i class="zmdi zmdi-apps"></i><span>Time Table</span></a>
                </li>

                <li class="{% active_link 'student_assignments || student_assignment_detail' 'active open' %}">
                    <a href="{% url 'student_assignments' %}"><i class="zmdi zmdi-assignment-alert"></i><span>Assignments</span></a>
                </li>

                <li class="{% active_link 'student_exams' 'active open' strict=True %}">
                    <a href="{% url 'student_exams' %}"><i class="zmdi zmdi-file"></i><span>Exams</span></a>
                </li>

                <li class="{% active_link 'student_results' 'active open' strict=True %}">
                    <a href="{% url 'student_results' %}"><i class="zmdi zmdi-menu"></i><span>Results</span></a>
                </li>

                <li class="{% active_link 'student_gradebook' 'active open' strict=True %}">
                    <a href="{% url 'student_gradebook' %}"><i class="zmdi zmdi-collection-plus"></i><span>Grade Book</span></a>
                </li>

                <li class="{% active_link 'student_announcements' 'active open' strict=True %}">
                    <a href="{% url 'student_announcements' %}"><i class="zmdi zmdi-notifications"></i><span>Announcement</span></a>
                </li>

                <br><br><br><br>

            </ul>
        </div>
    </aside>

    <!-- Right Sidebar -->
    <aside id="rightsidebar" class="right-sidebar">
        <ul class="nav nav-tabs sm >
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#setting"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="setting">
                <div class="slim_scroll">
                    <div class="card">
                        <h6>Theme Option</h6>
                        <div class="light_dark">
                            <div class="radio">
                                <input type="radio" name="radio1" id="lighttheme" value="light" checked="">
                                <label for="lighttheme">Light Mode</label>
                            </div>
                            <div class="radio mb-0">
                                <input type="radio" name="radio1" id="darktheme" value="dark">
                                <label for="darktheme">Dark Mode</label>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <h6>Color Skins</h6>
                        <ul class="choose-skin list-unstyled">
                            <li data-theme="purple">
                                <div class="purple"></div>
                            </li>
                            <li data-theme="blue">
                                <div class="blue"></div>
                            </li>
                            <li data-theme="cyan">
                                <div class="cyan"></div>
                            </li>
                            <li data-theme="green">
                                <div class="green"></div>
                            </li>
                            <li data-theme="orange">
                                <div class="orange"></div>
                            </li>
                            <li data-theme="blush" class="active">
                                <div class="blush"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    {% block content %} {% endblock %}

    
    <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
    <script src="{% static 'assets/bundles/vendorscripts.bundle.js' %}"></script>
    <!-- slimscroll, waves Scripts Plugin Js -->

    <script src="{% static 'assets/bundles/jvectormap.bundle.js' %}"></script>
    <!-- JVectorMap Plugin Js -->
    <script src="{% static 'assets/bundles/sparkline.bundle.js' %}"></script>
    <!-- Sparkline Plugin Js -->
    <script src="{% static 'assets/bundles/c3.bundle.js' %}"></script>

    <script src="{% static 'assets/bundles/mainscripts.bundle.js' %}"></script>
    <script src="{% static 'assets/js/pages/index.js' %}"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


   {% load sweetify %}
   {% sweetify %}
</body>


</html>